# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env/
.env.bak/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Python profiler
.prof

# Encrypted credentials
*.key
*.pem

# Ignore local settings
local_settings.py

# Ignore CSV/Excel outputs or data dumps

# Ignore compiled notebook outputs
*.nbconvert.ipynb

models/data.csv
models/.*

**/.~lock.*